<%- include('../layout/header.ejs')%>
<div class="row row-pb-md">
    <% for(let i=0; i<5; i++){ %>
       
    <div class="col-lg-4 mb-4 text-center">
        
        <div class="product-entry border">
            <a href="" class="prod-img">
                <img width="300px" height="400px" src="img/coupen2.jpg" class="img-fluid" alt="Free html5 bootstrap 4 template">
            </a>
            <div class="desc">
                <h2><a href="#">coupen</a></h2>
                <span class="price">Code:ofeiesdjdbs</span>
               
            </div>
        </div>
        
    </div>
    
    <%}%>
    
</div>
<%- include('../layout/footer.ejs')%>