<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verification Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>

<body>



  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">OTP VERIFICATON</h2>
            <form action="" method="post">
              <div class="form-group">
                <label for="otp">Enter OTP</label>
                <div class="input-group">
                  <input type="text" onclick="changeP()" class="form-control" name="otp" id="otp"
                    placeholder="Enter - 6 - digits">
                </div>
                
              </div>
              <div class="text-center">
                <p style="color:rgb(8, 8, 8);" id="countdown-timer">OTP will expire in <span id="countdown">30</span> seconds.</p>
                <input type="submit" id="btn" class="btn btn-primary btn-block m-2 " value="VERIFY">

                <p id="msg" style="color: red;">
                  <%=msg%>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var timer = 30; // Set the initial timer value
    
    function startTimer(duration, display) {
      setInterval(function () {
        var minutes = parseInt(timer / 60, 10);
        var seconds = parseInt(timer % 60, 10);
    
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
    
        display.textContent = minutes + ":" + seconds;
    
        if (--timer < 0) {
          countdownExpired();
        }
      }, 1000);
    }
    
    function resetTimer() {
      // Reset the timer to its original value
      
      // Restart the countdown
      startTimer(timer, document.getElementById("countdown"));
      // Reset the expired message
      document.getElementById("countdown-timer").innerHTML = 'otp sented';
    }
    
    function countdownExpired() {
      document.getElementById("countdown-timer").innerHTML = 'OTP has expired. Resend the OTP <a  id="resendBtn" href="" >here</a>.';
    }
    
    startTimer(timer, document.getElementById("countdown"));
    
  </script>
  


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    function changeP() {
      const ptag = document.getElementById('msg')
      ptag.innerText = ''
    }
    

    $(document).ready(function() {
  $('#countdown-timer').click(function() {
    $.ajax({
      url: '/resend',
      type: 'GET',
      success: function(response) {
        console.log(response);
      },
      error: function(xhr, status, error) {
        console.log(error);
      }
    });
  });
});



  </script>




  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"
    integrity="sha512-QhZz2fX3q/zwulOdwvSar0ORJh+1UMjgeifwCsp4Z4JzZhrX9n+3LgFvS/XGn1yJ04pGmlRpjr+Z5HJZfW5ZMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>